/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal; font-size: 16px }

/* ==== HEADINGS ==== */

/* ==== PAGE WIDTH ==== */

body {
    padding-left: 20%;
    padding-right: 20%
 }

h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: -1px;
    color: aqua;
}


/* Mobiles */
@media all and (max-width:767px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 6%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 10%;
   }
}


h2 {
   font-family: serif;
   font-weight: bold;
   font-size: 32px;
}


/* Mobiles */
@media all and (max-width:767px) {
   h2 {
      line-height: 1.3;
      margin-top: 12%;
      margin-bottom: 3%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
   h2 {
      line-height: 1.3;
      margin-top: 12%;
      margin-bottom: 2%;
   }
}


h3 {
   font-family: serif;
   font-weight: bold;
   font-size: 28px;
}


/* Mobiles */
@media all and (max-width:767px) {
   h3 {
      line-height: 1.3;
      margin-top: 6%;
      margin-bottom: 1%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
   h3 {
      line-height: 1.3;
      margin-top: 5%;
      margin-bottom: 1%;
   }
}/* ==== PARAGRAPHS ==== */

p {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 12px;
 }